<script src="~/GameCore/libs/phaser.min.js"></script>
<script src="~/GameCore/js/GameController.js"></script>
<script src="~/GameCore/js/System.js"></script>

<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body well-lg">
            <div id="GameWindow">
            </div>
        </div>
    </div>
</div>